<div class="row">
    <div class="col-md-8">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Gráfica 1</h5>
                <div id="graficaSabores" style="height: 370px; width: 100%;" ></div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Gráfica 2</h5>
                <div id="graficaCerebrosPorUsario" style="height: 370px; width: 100%;" ></div>
            </div>
        </div>
    </div>
</div>

    
