<div class="card-body"><h5 class="card-title">Zombies</h5>
    <table class="mb-0 table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Tipo</th>
            <th>Propietario</th>
            <th>Opciones</th>
            
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let zombie of zombies | async; let i = index">
            <th scope="row"> {{ i+1 }} </th>
            <td>{{ zombie.nombre }}</td>
            <td>{{ zombie.email }}</td>
            <td>{{ zombie.tipo }}</td>
            <td>{{ zombie.propietario}}</td>
            <td>
                <button (click)="DeleteZombie(zombie._id)"><i class="fas fa-trash"></i></button>
                <button (click)="DatosZombie(zombie.nombre, zombie.email, zombie.tipo)"  data-toggle="modal" data-target="#modalEdit"><i class="fas fa-eraser"></i></button>
            </td>
            
        </tr>
        </tbody>
    </table>
    <br>
    <button type="button" class="btn mr-2 mb-2 btn-primary" 
    data-toggle="modal" data-target="#modal">Agregar zombie</button>
    

    